.about-section {
  background-color: var(--bg-hover-light);
  padding: 80px 0;
}

.link-a {
  font-weight: bold;
  font-size: 18px;
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.link-a:hover {
  border-bottom: 2px solid var(--secondary-dark);
  color: var(--secondary-hover);
}

/* Image Styling */
.about-section img {
  width: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
