.aboutus-page{
    
    
}

.aboutpage-content{
    text-align: center;
    background-color: var(--accent-color);
    padding: 20px 5px;
}

.aboutpage-content-title{
    text-align: center;
}

.aboute-images-row{
    padding: 20px 0;
}