.header-page {
  min-height: 80px;
  max-height: 80px;
  position: relative;
  z-index: 100;
  transition: background 0.5s ease-in-out;
}
.header-page.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
  background-color: var(--primary-color);
  transition: background 0.5s ease-in-out;
}
.nav-menu-list .nav-menu-item {
  color: var(--bg-main);
}
.nav-menu-list .nav-menu-item:hover {
  color: var(--secondary-color);
}

.nav-menu-list .nav-menu-item.active {
  color: var(--secondary-color);
}

.mobile-menu-list {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  min-height: 100vh;
}

.mobile-menu-list {
  transform: translateX(-100%);
  transform-origin: left;
  /* transition-duration: 300ms; */
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.mobile-menu-list.open-menu {
  transform: translateX(0%);
  opacity: 1;
}

.mobile-menu-list .nav-menu-item {
  color: var(--bg-main);
  display: block;
  text-align: center;
  font-size: 18px;
}

.mobile-menu-list .nav-menu-item:hover {
  color: var(--secondary-color);
}

.mobile-menu-list .nav-menu-item.active {
  color: var(--secondary-color);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  /* Adjusts space between logo and text */
}

.church-logo {
  height: 60px;
  /* Adjust size as needed */
}

.church-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.church-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.church-description {
  font-size: 0.9rem;
  color: #e3b505;
  /* Gold color */
  margin: 0;
}

/* Ensure mobile responsiveness */
@media (max-width: 768px) {
  .logo-container {
    /* flex-direction: column;
    align-items: flex-start; */
  }

  .church-logo {
    height: 50px;
    /* Slightly smaller for mobile */
  }

  .church-name {
    font-size: 1rem;
  }

  .church-description {
    font-size: 0.8rem;
  }
}
